#content {
    padding-top: 80px;
    padding-bottom: 80px;
    color: #807395;
}

.project_tile {
    border-left: #807395 1px solid;
    border-right: #807395 1px solid;
    border-bottom: #807395 1px solid;
    cursor: pointer;
}

.project_tile:hover {
    text-decoration: underline;
}

.project_tile_header {
    color: #f3eadb;
    background-color: #807395;
    text-align: center;
    font-size: 18px;
}

.project_tile_description {
    padding-left: 10px;
    color: #807395;
}

.project_tile_spacer {
    padding-bottom: 50px;
}
