#content {
    padding-top: 80px;
    padding-bottom: 80px;
    color: #807395;
}

.header {
    font-size: 20px;
    font-weight: 1000;
}

.line_spacer {
    border-top: #807395 1px solid;
    margin-top: 15px;
    margin-bottom: 15px;
}

.link {
    color: #807395;
    text-decoration: underline;
    cursor: pointer;
    width: max-content;
}

.link:hover {
    color: #f3eadb;
    background-color: #807395;
}
